@width:200px;
#detail,.write-example{
  > table{
    font-size: 14px;
    border-collapse: collapse;
    margin: 20px 0;
    td{
      border: solid 1px #999999;
      padding: 5px 25px;
    }
  }
  p{
    margin: 5px 0;
    span.item{
      color: #FB7254;
      margin: 0 3px;
    }
    &.sm-title{
      margin: 20px 0;
      font-weight: bold;
    }
    &.sm{
      font-size: 14px;
      color: #999999;
    }
    &.title{
      font-size: 18px;
      margin: 30px 0;
      font-weight: bold;
    }
  }
  /* 图片 */
  .img{
    margin: 5px 0;
    max-width: 400px;
    height: auto;
  }
  .img>img{
    max-width: 100%;
    height: auto;
  }
  /* 导航标题 */
  .info{
    font-size: 14px;
    text-align: right;
    color: #7F7F7F;
  }
  a{
    color: #5BA0C6;
    margin-left: 10px;
    &:hover{
      text-decoration: underline;

    }
  }
  .explain{
    padding: 10px;
    background-color: #EEEEEE;
  }
  ul,ol{
    font-size: 14px;
    li{
      padding: 3px 0;
    }
  }
  ul{
    list-style: circle inside;
  }
  ol{
    list-style: decimal inside;
  }
}





