.hello{
  padding: 5px;
  height: 40px;
  display: grid;
  background-color: white;
  grid-template-columns: 1fr 400px minmax(100px,360px);
  align-items: center;
  justify-content: center;
  position: relative;
  .nav{
    ul{
      display: flex;
      position: relative;
      >span{
        position: absolute;
        height: 4px;
        background-color: #FB564C;
        bottom: -4px;
        width: 0;
        transition: all .3s;
      }
      >li{
        flex: 1;
        cursor: pointer;
        position: relative;
        height: 30px;
        line-height: 30px;
        text-align: center;
        transition: color .3s;
        &:hover{
          color: #FB564C;
        }
        i{
          margin-right: 3px;
        }
      }
    }
  }
  &-search{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title{
    padding-left: 40px;
  }
}
/* 搜索框 */
.search {
  background-color: #F3F5F9;
  border: none;
  display: block;
  height: 32px;
  padding-left: 8px;
  font-size: 14px;
  width: 80%;
}

@media screen and (max-width: 875px){
  .hello{
    grid-template-columns: 160px 1fr;
    .title{
      display: none;
    }
  }
}
